<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
</style>
<body>
    <div class="footer">

    </div>
    <div class="body">
        <form action="/login" method="post">
            <input type="text" name="email" id="email" placeholder="email">
            <input type="text" name="password" id="password" placeholder="password">
            <input type="submit">
        </form>
        <a href="/register">Create tai khoan</a>
        <a href="/password/reset">Forget the Password</a>
    </div>
</body>
</html>